{% extends "app/layout.html" %}

{% block content %}
            <div class="section-banner" style="background-image: url(https://www.bookcity.kz/upload/Sh/imageCache/eb3/7a2/87d0de889766a6f3f0c1e35d4d2c60e9.jpg);">
                <div class="banner_text">
                    <h1>ABOUT THE STORE</h1>
                </div>
            </div>
<div class="container">
	<p>
                    <span class="span_text" style="font-size: 17pt;">Book-stock store</span>
		</p>
		<p style="text-align: justify;">
                    <span class="span_text" style="font-size: 17pt;">
		Book-stock is a large bookstore with about 80000 titles of books. Much attention in the assortment is paid to childrens literature and educational games for children. The pride of the store is the department of gift and exclusive editions - unique books released in limited editions. The range also includes related products, including puzzles, postcards, bookmarks, cartographic publications, souvenirs.                
</span>
     </p>
	 <p>
                    <span class="span_text" style="font-size: 17pt;">Our values</span>
                </p>
                <p style="text-align: justify;">
                    <span class="span_text" style="font-size: 16pt;">We are driven by the desire to meet the needs of customers, the professionalism and involvement of our employees. The focus on meeting the needs of our customers is the fundamental principle of the organization of our work.</span>

                </p>

                <p>
                    <span class="span_text" style="font-size: 17pt;">Buyer</span>
                </p>
                <p style="text-align: justify;">
                    <span class="span_text" style="font-size: 16pt;">We are focused on an individual approach to everyone. The buyer's trust is more important to us than profit. We are focused on stable and long-term cooperation .And we want every client to find everything that interests him.</span>

                </p>

                <p>
                    <span class="span_text" style="font-size: 17pt;">Professionalism</span>
                </p>
                <p style="text-align: justify;">
                    <span class="span_text" style="font-size: 16pt;">We are aware that success lies in the competence of our employees, and we do everything possible to attract and retain the best specialists, creating conditions for the development of their professional qualities. Each employee of the company strives to increase the level of their professionalism and, along with a unique training program, independently attends seminars and trainings, reads specialized literature.</span>

                </p>

                <p>
                    <span class="span_text" style="font-size: 17pt;">Team spirit</span>
                </p>
                <p style="text-align: justify;">
                    <span class="span_text" style="font-size: 16pt;">We work in an atmosphere of cooperation and pride in collective work, where the tasks and goals of the company are perceived as a common cause. We cooperate with each other without barriers and barriers and are happy to share our knowledge and experience with each other. Only by doing what you love, you can achieve a common goal and bring the greatest benefit.                    </span>

                </p>
	

	</div>
    <div>
                <br>
                <div style="text-align: center; padding: 4%;"><img src="https://www.bookcity.kz/local/images/icon/book-mini.png" alt=""></div>
                <div style="text-align: center; padding-left: 20%; padding-right: 20%;"><h1>You will always find any books you are interested in here</h1></div>
                <div class="slide">
                    <div class="sliders">
                        <img class="slide-img" style="width: 100%;" src="gift.jfif" alt="">
                        <a href="" class="advantage-item_title">gift editions</a>
                    </div>
                    <div class="sliders">
                        <img style="width: 100%;" src="creative.jpg" alt="">
                        <a href="" class="advantage-item_title">game publications, creative kits</a>
                    </div>
                    <div class="sliders">
                        <img style="width: 100%;" src="uyut.jpg" alt="">
                        <a href="" class="advantage-item_title">modern prose</a>
                    </div>
                    <div class="sliders">
                        <img style="width: 100%;" src="deti.jpg" alt="">
                        <a href="" class="advantage-item_title">books for children</a>
                    </div>
                    <div class="sliders">
                        <img style="width: 100%;" src="kazakhstan.jpg" alt="">
                        <a href="" class="advantage-item_title">my kazakhstan</a>
                    </div>
                    <div class="sliders">
                        <img style="width: 100%;" src="66.jpg" alt="">
                        <a href="" class="advantage-item_title">detectives</a>
                    </div>
                </div>
            </div>
     <div class="container">
                <div class="advantages-list">
                    <div class="advantage-item">
                            <div class="advantage-item_icon">
                                <img class="js-lazy" src="https://www.bookcity.kz/local/images/icon/icon-car.png" alt="">
                            </div>
                            <div class="advantage-item_title">
                                delivery to the door of your home
                            </div>
                        </div>
                        <div class="advantage-item">
                            <div class="advantage-item_icon">
                                <img class="js-lazy" src="https://www.bookcity.kz/local/images/icon/icon-gift.png" alt="">
                            </div>
                            <div class="advantage-item_title">
                                the store offers free packaging of books
                            </div>
                        </div>
                    </div>
                </div>
    <div style="background-color:rgb(250, 250, 250); padding-top: 5%;">
                <div style="text-align: center;"><h1>Why is it convenient to work with us</h1></div>

                <div class="container">
                    <div style="display: flex;">
                        <div>
                            <div class="galochka-item" style="display: flex;"><img class="galochki" src="galochka.jpg" alt="">
                                 <div>The purchase process on our website is as simple, convenient and understandable as possible.</div>
                            </div>
                            <br>
                            <div class="galochka-item" style="display: flex;"><img class="galochki" src="galochka.jpg" alt="">
                                <div>Our customers are always waiting for pleasant surprises - promotions, discounts, sweepstakes!</div>
                           </div>
                        </div>
                        <div>
                            <div class="galochka-item" style="display: flex;"><img class="galochki" src="galochka.jpg" alt="">
                                <div>when placing an order, you will be able to choose the delivery time and payment method that are convenient for you.</div>
                           </div><br>
                           <div class="galochka-item" style="display: flex;"><img class="galochki" src="galochka.jpg" alt="">
                                <div>Prompt delivery of the order if the goods are in stock in Almaty.</div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
<style>
    .section-banner {
    height: 223px;
    width: 100%;
    text-align: center;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.section-infopage-banner .banner_text {
    background: #fff;
    text-align: center;
    padding: 30px;
    width: 760px;
    max-width: 90%;
    font-size: 14px;
}
h1 {
    font: 700 30px/36px "Noto Serif", serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 20px 0 20px;
}
.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.span_text {
    font: 700 30px/36px "Noto Serif", serif;
}
.advantages-list {
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 10%;
}
.advantage-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.advantage-item_icon {
    flex-basis: 105px;
    flex-shrink: 0;
    text-align: center;
}
.advantage-item_title {
    width: 210px;
    min-width: 215px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}
.galochki{
    max-width: 30px;
}
.galochka-item{
    display: flex;
    font-size: larger;
    padding: 10%;
}
.slide{
    display: flex;
    margin: 5%;
}
.sliders{
    width: 16%;
    text-align: center;
}
<style>
	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
	font-family: 'PT Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: #273456;
	font-size: 16px;

}
div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2 {
	font-size: 38px;
	text-align: center;
	margin-bottom: 61px;
}

h3 {
	font-size: 20px;
}

section {
	padding-top: 87px;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: 2s;
}

.mangas {
    padding-top: 64px;
    padding-bottom: 64px;
}

.names {
    font-size: 36px;
    text-align: center;
    font-weight: border;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.card-box {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.card-box :hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
	transform: scale(1.1);

}

.card__box {
    display: flex;
    justify-content: space-around;
    padding-top: 64px;
}

.card__box :hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
	transform: scale(1.1);
}

.card {
    width: 450px;
    padding: 50px 50px 50px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #fff;
}

.photo {
    width: 350px;
    height: 450px;
	align-items: center;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
    margin-top: 20px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
}


.btn {
	background: #FF3465;
	border-radius: 10px;
	color: #fff;
	width: 211px;
	padding: 16px 48px;
	font-weight: bold;
	font-size: 18px;
	display: block;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #eb0037;
}

.btn-ghost {
	font-weight: bold;
font-size: 15px;
text-align: center;
color: #FF3465;
border: 1px solid #FF3465;
border-radius: 10px;
width: 249px;
padding: 18px 35px;
display: block;
}

.btn-ghost:hover {
	background: #FF3465;
	color: #fff;
}

.nav {
	display: flex;
	align-items: center;
}

.nav a{
	color: rgb(212, 35, 133);
	font-family: 'Comfortaa', cursive;
}
.logo {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.055em;
	display: block;
	width: 150px;
	padding-left: 34px;
	margin-right: 162px;
	font-size: 30px;
}

.menu {
	display: flex;
}

.menu #cotalog{
	margin-left: 60px;
}

.menu li {
	margin-right: 51px;
	margin-left: 10px;
}

.menu a {
	padding-bottom: 5px
}

.menu a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);

}

.log{
	margin-left: 180px;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
}

.log h4{
	font-family: 'Comfortaa', cursive;
}

.reg{
	margin-left: 10px;
}

.reg2 #kor{
	margin-left: 10px;
	}

.call {
	font-weight: bold;
	font-size: 12px;
	align-items: center;
	margin-left: auto;
	margin-top: 10px;
}

.call-btn {
	border: 1px solid rgb(212, 35, 133);
	border-radius: 4px;
	display: block;
	width: 156px;
	padding: 8px 20px;
	text-align: center;
	margin-left: -27px;
}

.call-btn:hover {
	background: rgb(156, 28, 81);
	color: #ffffff;
}


.offer {
	background: url('https://c0.wallpaperflare.com/preview/241/735/668/book-reading-glasses-learning.jpg') no-repeat center top / cover;
	color: #fff;
	height: 700px;
	text-align: center;
}

.offer h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

.offer p {
	width: 465px;
	margin: 0 auto;
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 1.38em;
}

.offer .btn {
	margin: 0 auto;
}

.cards {
	display: flex;
	justify-content: space-between;
}

.cards-item {
	width: 277px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 15px;
	transition: all 0.5s ease;
}

.cards-item:hover {
	box-shadow: 0px 10px 20px rgba(32, 40, 69, 0.24);
}

.cards-item img {
	display: block;
	border-radius: 15px 15px 0 0
}

.cards-content {
	padding: 23px 23px 40px 34px
}

.cards-text {
	font-size: 14px;
	color: #273456;
	margin: 4px 0 17px
}




.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.about-content img {
	display: block;
	border-radius: 0px 20px 20px 20px;
}

.about-text {
	width: 572px;
}

.about-text h3 {
	margin-bottom: 21px;
}

.about-text p {
	line-height: 1.5em;
	margin-bottom: 25px;
}

.about-text p:last-child {
	margin-bottom: 0px;
}

.form {
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 20px;
	width: 601px;
	text-align: center;
	padding: 58px 64px 97px;
	margin: 0 auto

}

.form h3 {
	width: 367px;
	margin: 0 auto 37px;
}

.form input {
	border: 1px solid rgba(39, 52, 86, 0.26);
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	display: block;
	width: 100%;
	padding: 19px 26px;
	margin-bottom: 15px;
}

.form .btn {
	width: 100%;
	padding: 21px 0;
	transition: all 0.5s ease;
}

.footer-text {
	font-size: 15px;
	color: rgba(41, 56, 111, 0.66);
	text-align: center;
	margin: 122px 0 112px
}

.check {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 122px;
}

.follow {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: white;
	padding: 20px 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.section-blog {
	padding-top: 70px;
	padding-bottom: 70px;
}

.posts-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 40px;
	flex-grow: 1;
}

.blog {
	margin-left: 150px;
	margin-right: 150px;
}

.post__content {
	max-width: 370px;
	padding-bottom: 30px;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.post {
	max-width: 570px;
	display: flex;
	justify-content: space-between;
}

.post__img {
	width: 180px;
	height: 180px;
}

.section-header {
	text-align: center;
	padding-bottom: 35px;
}

.post__text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.3;
	color: #777777;
}

.more {
	text-decoration: none;
}

.read__more {
	margin-left: 520px;
	padding-top: 50px;
}

.button__more {
	display: inline-block;
	padding: 10px 40px 11px;
	background-color: rgb(37, 37, 37);
	border: 1px solid black;
	border-radius: 7px;
	text-align: center;
	text-decoration: none;
	color: white;
}

.newsletter {
	background-image: url(https://images.alphacoders.com/851/thumb-1920-851347.jpg);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: cover;
	height: 150px;
}

.news {
	padding-bottom: 60px;
	margin-left: 150px;
}
.email {
	width: 300px;
	border-radius: 10px;
	padding: 7px 15px;
}

.submit {
	width: 120px;
	background-color: rgb(160, 183, 190);
	color: gold;
	border-radius: 10px;
	padding: 7px 15px;
}

.post__title {
	padding-bottom: 10px;
}

.post__text {
	padding-bottom: 15px;
}

.new-tittle {
	padding-bottom: 10px;
}

.new-text {
	padding-bottom: 30px;
}

</style>


{% endblock %}
