{% extends "app/layout.html" %}

{% block content %}
<section class="main-content">
        <div class="container__cont">
            <div class="row">
                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://files.books.ru/pic/4274001-4275000/4274858/1896384822c.png" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Илон Маск: Tesla, SpaceX и дорога в будущее</a></h4>
                            <p>Биография Илона Маска </p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>4990 ₸</small> 3990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>

                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://cdn.f.kz/prod/496/495482_550.jpg" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Вспомнить всё. Моя невероятно правдивая история</a></h4>
                            <p>Биография Арнольда Шварцнегера</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>3990 ₸</small> 2490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>

                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://simg.marwin.kz/media/catalog/product/cache/41deb699a7fea062a8915debbbb0442c/1/0/10559177_0_1.jpg" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Моя жизнь, мои достижения</a></h4>
                            <p>Биография Генри Форда</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>5990 ₸</small> 4990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://cv4.litres.ru/pub/c/elektronnaya-kniga/cover_330/142044-richard-fillips-feynman-vy-konechno-shutite-mister-feynman.jpg" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Вы, конечно, шутите, мистер Фейнман!</a></h4>
                            <p>Биография Ричарда Фейнмана</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>2990 ₸</small> 2490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://img4.labirint.ru/rc/133b5d8ccda163f0fc1c04b68c3ce9f7/220x340/books84/837766/cover.jpg?1639549530" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Беспощадная истина </a></h4>
                            <p>Биография Майка Тайсона</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>1990 ₸</small> 1490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://simg.marwin.kz/media/catalog/product/cache/8d1771fdd19ec2393e47701ba45e606d/1/0/10586429_0.jpg" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Конор Макгрегор. Жизнь без правил</a></h4>
                            <p>Биография Кононра Макгрегора </p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>4990 ₸</small> 3490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://www.mann-ivanov-ferber.ru/assets/images/covers/11/4111/1.00x-thumb.png" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">iКона. Стив Джобс</a></h4>
                            <p>Биография Стива Джобса</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>5990 ₸</small> 5490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://cv6.litres.ru/pub/c/elektronnaya-kniga/cover_max1500/9361063-dzheyn-hoking-byt-hokingom.jpg" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Быть Хокингом</a></h4>
                            <p>Биография Стивена Хокинга  </p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>2490 ₸</small> 1990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6" >
                    <div class="product-card">
                        <div class="product-thumb">
                            <a href=""><img src="https://www.mann-ivanov-ferber.ru/assets/images/covers/31/5131/1.00x-thumb.png" alt=""></a>
                        </div>
                        <div class="product-details">
                            <h4><a href="">Код Дурова</a></h4>
                            <p>Биография Павла Дурова</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>4590 ₸</small> 3990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                                <div class="product-links">
                                    <a href="#"><i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                      </svg></a>
                                    <a href="#"><i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                                      </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
        </div>
    </section>
    <div class="page">
        <h1>
    <a href="catalog">1</a>
    <a href="food">2</a>
    <a href="go">3</a>
    <a href="kitchen">4</a>
    <a href="serve">5</a>
    <a href="hom">6</a>
</h1>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
	font-family: 'PT Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: #273456;
	font-size: 16px;

}
div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2 {
	font-size: 38px;
	text-align: center;
	margin-bottom: 61px;
}

h3 {
	font-size: 20px;
}

section {
	padding-top: 87px;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: 2s;
}

.btn {
	background: #FF3465;
	border-radius: 10px;
	color: #fff;
	width: 211px;
	padding: 16px 48px;
	font-weight: bold;
	font-size: 18px;
	display: block;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #eb0037;
}

.btn-ghost {
	font-weight: bold;
font-size: 15px;
text-align: center;
color: #FF3465;
border: 1px solid #FF3465;
border-radius: 10px;
width: 249px;
padding: 18px 35px;
display: block;
}

.btn-ghost:hover {
	background: #FF3465;
	color: #fff;
}

.nav {
	display: flex;
	align-items: center;
}

.nav a{
	color: rgb(212, 35, 133);
	font-family: 'Comfortaa', cursive;
}
.logo {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.055em;
	display: block;
	width: 150px;
	padding-left: 34px;
	margin-right: 162px;
	font-size: 30px;
}

.menu {
	display: flex;
}

.menu #cotalog{
	margin-left: 60px;
}

.menu li {
	margin-right: 51px;
	margin-left: 10px;
}

.menu a {
	padding-bottom: 5px
}

.menu a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);

}

.log{
	margin-left: 180px;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
}

.log h4{
	font-family: 'Comfortaa', cursive;
}


.call {
	font-weight: bold;
	font-size: 12px;
	align-items: center;
	margin-left: auto;
	margin-top: 10px;
}

.call-btn {
	border: 1px solid rgb(212, 35, 133);
	border-radius: 4px;
	display: block;
	width: 156px;
	padding: 8px 20px;
	text-align: center;
	margin-left: -27px;
}

.call-btn:hover {
	background: rgb(156, 28, 81);
	color: #ffffff;
}


.offer {
	background: url('../img/header-bg.jpg') no-repeat center top / cover;
	color: #fff;
	height: 700px;
	text-align: center;
}

.offer h1 {
	font-size: 50px;
	margin-bottom: 10px;
}

.offer p {
	width: 465px;
	margin: 0 auto;
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 1.38em;
}

.offer .btn {
	margin: 0 auto;
}

.cards {
	display: flex;
	justify-content: space-between;
}

.cards-item {
	width: 277px;
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 15px;
	transition: all 0.5s ease;
}

.cards-item:hover {
	box-shadow: 0px 10px 20px rgba(32, 40, 69, 0.24);
}

.cards-item img {
	display: block;
	border-radius: 15px 15px 0 0
}

.cards-content {
	padding: 23px 23px 40px 34px
}

.cards-text {
	font-size: 14px;
	color: #273456;
	margin: 4px 0 17px
}




.about-content {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.about-content img {
	display: block;
	border-radius: 0px 20px 20px 20px;
}

.about-text {
	width: 572px;
}

.about-text h3 {
	margin-bottom: 21px;
}

.about-text p {
	line-height: 1.5em;
	margin-bottom: 25px;
}

.about-text p:last-child {
	margin-bottom: 0px;
}

.form {
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 20px;
	width: 601px;
	text-align: center;
	padding: 58px 64px 97px;
	margin: 0 auto
}

.form h3 {
	width: 367px;
	margin: 0 auto 37px;
}

.form input {
	border: 1px solid rgba(39, 52, 86, 0.26);
	box-sizing: border-box;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	display: block;
	width: 100%;
	padding: 19px 26px;
	margin-bottom: 15px;
}

.form .btn {
	width: 100%;
	padding: 21px 0;
	transition: all 0.5s ease;
}


.footer-text {
	font-size: 15px;
	color: rgba(41, 56, 111, 0.66);
	text-align: center;
	margin: 122px 0 112px
}


.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    margin-bottom: 32px;
    margin-left: 32px;
    border-radius: 30px;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.product-thumb img{
    width: 200px;
    height: 300px;
}

.product-details {
    padding: 20px;
}

.product-details h4 a{
    font-weight: 500;
    display: block;
    text-decoration: none;
}

.product-details p{
    font-size: 15px;
    margin-bottom: 20px;
    color: #999;
    height: 45px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.product-price small{
    color: #ccc;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-links a{
    font-size: 20px;
    margin-left: 10px;
}

.row {
   margin-left: 40px;
   margin-right: 120px;
}

.rating-mini {
   display: inline-block;
   font-size: 0;
}
.rating-mini span {
   padding: 0;
   font-size: 20px;
   line-height: 1;
   color: lightgrey;
}
.rating-mini > span:before {
   content: '★';
}
.rating-mini > span.active {
   color: gold;
}
.page{
	text-align: center;
	text-decoration: none;
	margin-top: -50px;
}

.page h1{
	font-size: 20px;

	letter-spacing: 0.055em;
}

</style>

{% endblock %}