{% extends "app/layout.html" %}

{% block content %}

 <form action="#" class="form">
        <h3>
            Our contacts
            <br>
            <br>
            Phone number<br>
           <span style="color: deeppink;">8(707)777 70 00</span>
            <br>
            <br>
            Mail<br>
            <span style="color: deeppink;">bookstock.almaty@mail.ru</span>
        </h3>
	</form>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body {
	font-family: 'PT Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: #273456;
	font-size: 16px;

}
div, p, input, header, a, form {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2 {
	font-size: 38px;
	text-align: center;
	margin-bottom: 61px;
}

h3 {
	font-size: 20px;
}

section {
	padding-top: 87px;
}

ul,li {
	display: block;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: 2s;
}

.btn {
	background: #FF3465;
	border-radius: 10px;
	color: #fff;
	width: 211px;
	padding: 16px 48px;
	font-weight: bold;
	font-size: 18px;
	display: block;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: #eb0037;
}

.btn-ghost {
	font-weight: bold;
font-size: 15px;
text-align: center;
color: #FF3465;
border: 1px solid #FF3465;
border-radius: 10px;
width: 249px;
padding: 18px 35px;
display: block;
}

.btn-ghost:hover {
	background: #FF3465;
	color: #fff;
}

.nav {
	display: flex;
	align-items: center;
}

.nav a{
	color: rgb(212, 35, 133);
	font-family: 'Comfortaa', cursive;
}
.logo {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.055em;
	display: block;
	width: 150px;
	padding-left: 34px;
	margin-right: 162px;
	font-size: 30px;
}

.menu {
	display: flex;
}

.menu #cotalog{
	margin-left: 60px;
}

.menu li {
	margin-right: 51px;
	margin-left: 10px;
}

.menu a {
	padding-bottom: 5px
}

.menu a:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.21);

}

.log{
	margin-left: 180px;
	padding: 10px;
	font-family: 'Comfortaa', cursive;
}

.log h4{
	font-family: 'Comfortaa', cursive;
}

.reg{
	margin-left: 10px;
}

.reg2 #kor{
	margin-left: 10px;
	}

.call {
	font-weight: bold;
	font-size: 12px;
	align-items: center;
	margin-left: auto;
	margin-top: 10px;
}

.call-btn {
	border: 1px solid rgb(212, 35, 133);
	border-radius: 4px;
	display: block;
	width: 156px;
	padding: 8px 20px;
	text-align: center;
	margin-left: -27px;
}

.call-btn:hover {
	background: rgb(156, 28, 81);
	color: #ffffff;
}


.form {
	box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
	border-radius: 20px;
	width: 601px;
	text-align: center;
	padding: 58px 64px 97px;
    margin-left: 450px;
    margin-top: 130px;

}

</style>


{% endblock %}
