{% extends "app/layout.html" %}

{% block content %}
<section class="main-content">
    <div class="container__cont">
        <div class="row">
            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://s5-goods.ozstatic.by/2000/939/111/101/101111939_0.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">БИЗНЕС ПО ЧУТЬ-ЧУТЬ</a></h4>
                        <p>Книга о том, из каких “узелков” сплетается талант руководителя и успех бизнеса. К каждому “узелку” прилагается конкретный совет, что нужно сделать прямо сейчас, чтобы стать лидером, за которым пойдет команда и построить крепкую и прибыльную компанию.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>4990 ₸</small> 3990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>

                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://www.moscowbooks.ru/image/book/394/w259/i394419.jpg?cu=20180101000000" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">БОГАТЫЙ ПАПА БЕДНЫЙ ПАПА</a></h4>
                        <p>Бестселлер №1 в мире «Богатый папа, бедный папа»! Роберт Кийосаки убежден в том, что современная система школьного образования не дает действительно нужных для жизни знаний – знаний о деньгах.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>3990 ₸</small> 2490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>

                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://cv0.litres.ru/pub/c/elektronnaya-kniga/cover_max1500/21130203-oliver-gassman-biznes-modeli-55-luchshih-shablonov.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">БИЗНЕС МОДЕЛИ</a></h4>
                        <p>Успех компании зависит от выбора наиболее подходящей бизнес-модели. Предложенная в этой книге методология — отличное подспорье как для начинающих компаний, так и для тех, кто хочет перестроить свой бизнес и достигнуть новых высот</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>5990 ₸</small> 4990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>

                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://xn--c1ajahiit.ws/uploads/posts/2020-10/1601911117_1.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">ЧЕЛОВЕК</a></h4>
                        <p>Вы думаете, что знаете, как работает Ваш мозг? Тогда почему беспомощны во время страхов, тревог, волнений, переживаний, душевных терзаний или ревности? Или почему не управляете настроением, реакциями и процессами формирования собственных реакций? А потому Вас специально этому не обучили, чтобы легко управлять.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>2990 ₸</small> 2490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://img3.labirint.ru/rc/1074ff9df43b7567b97344f265262faf/246x330/books49/482737/cover.jpg?1460446005" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">БИЗНЕС-ПРИКЛЮЧЕНИЯ</a></h4>
                        <p>Когда Билл Гейтс попросил Уоррена Баффета порекомендовать ему хорошую книгу о бизнесе, тот, ни минуты не задумываясь, дал ему свой экземпляр "Бизнес-приключений" Джона Брукса. Написанная более 40 лет назад, эта книга рассказывает о корпоративной и финансовой жизни Америки полувековой давности.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>1990 ₸</small> 1490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://s1.livelib.ru/boocover/1000712551/200/be77/boocover.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">ПОСТРОЕННЫЕ НАВЕЧНО</a></h4>
                        <p>Переведено с английского языка.-Создано, чтобы длиться: успешные привычки дальновидных компаний - книга, написанная Джимом Коллинзом и Джерри И. Поррасом.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>4990 ₸</small> 3490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="http://www.williamspublishing.com/Books/thumb/big/978-5-8459-1466-8.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">ОСНОВЫ МАРКЕТИНГА</a></h4>
                        <p>Первое знакомство с теорией маркетинга большинства граждан бывшего СССР началось с книги Филипа Котлера «Основы маркетинга», выпущенной издательством «Прогресс» в 1990 году.</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>5990 ₸</small> 5490 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://s1.livelib.ru/boocover/1000179279/200/5f73/boocover.jpg" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">СВОЙ БИЗНЕС</a></h4>
                        <p>Перед вами уникальное пособие от всемирно известного бизнес-тренера, автора бестселлера «Богатый папа, бедный папа» Роберта Кийосаки «Прежде чем начать свой бизнес»!</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>2490 ₸</small> 1990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6" mb-3>
                <div class="product-card">
                    <div class="product-thumb">
                        <a href=""><img src="https://img4.labirint.ru/rc/3c586c398bc42612a7d9b94fa3e5a08c/220x340/books84/830804/cover.jpg?1637144724" alt=""></a>
                    </div>
                    <div class="product-details">
                        <h4><a href="">БЫТЬ ЛИДЕРОМ</a></h4>
                        <p>лидерство, предпринимателю, биографии, управление людьми, руководителю, развитие сотрудников, управление компанией, бизнес-истории, стратегия, истории из жизни, настольные книги профи</p>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>2490 ₸</small> 1990 ₸
                            </div>
                            <div class="rating-mini">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="product-links">
                                <a href="#">
                                    <i class="bi bi-cart3"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                                    </svg>
                                </a>
                                <a href="#">
                                    <i class="bi bi-suit-heart"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

    body {
        font-family: 'PT Sans', sans-serif;
        padding: 0;
        margin: 0;
        color: #273456;
        font-size: 16px;
    }

    div, p, input, header, a, form {
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    h2 {
        font-size: 38px;
        text-align: center;
        margin-bottom: 61px;
    }

    h3 {
        font-size: 20px;
    }

    section {
        padding-top: 87px;
    }

    ul, li {
        display: block;
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        transition: 2s;
    }

    .btn {
        background: #FF3465;
        border-radius: 10px;
        color: #fff;
        width: 211px;
        padding: 16px 48px;
        font-weight: bold;
        font-size: 18px;
        display: block;
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        border: none;
        cursor: pointer;
    }

        .btn:hover {
            background: #eb0037;
        }

    .btn-ghost {
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        color: #FF3465;
        border: 1px solid #FF3465;
        border-radius: 10px;
        width: 249px;
        padding: 18px 35px;
        display: block;
    }

        .btn-ghost:hover {
            background: #FF3465;
            color: #fff;
        }

    .nav {
        display: flex;
        align-items: center;
    }

        .nav a {
            color: rgb(212, 35, 133);
            font-family: 'Comfortaa', cursive;
        }

    .logo {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.055em;
        display: block;
        width: 150px;
        padding-left: 34px;
        margin-right: 162px;
        font-size: 30px;
    }

    .menu {
        display: flex;
    }

        .menu #cotalog {
            margin-left: 60px;
        }

        .menu li {
            margin-right: 51px;
            margin-left: 10px;
        }

        .menu a {
            padding-bottom: 5px
        }

            .menu a:hover {
                border-bottom: 1px solid rgba(255, 255, 255, 0.21);
            }

    .log {
        margin-left: 180px;
        padding: 10px;
        font-family: 'Comfortaa', cursive;
    }

        .log h4 {
            font-family: 'Comfortaa', cursive;
        }


    .call {
        font-weight: bold;
        font-size: 12px;
        align-items: center;
        margin-left: auto;
        margin-top: 10px;
    }

    .call-btn {
        border: 1px solid rgb(212, 35, 133);
        border-radius: 4px;
        display: block;
        width: 156px;
        padding: 8px 20px;
        text-align: center;
        margin-left: -27px;
    }

        .call-btn:hover {
            background: rgb(156, 28, 81);
            color: #ffffff;
        }


    .offer {
        background: url('../img/header-bg.jpg') no-repeat center top / cover;
        color: #fff;
        height: 700px;
        text-align: center;
    }

        .offer h1 {
            font-size: 50px;
            margin-bottom: 10px;
        }

        .offer p {
            width: 465px;
            margin: 0 auto;
            margin-bottom: 25px;
            font-size: 17px;
            line-height: 1.38em;
        }

        .offer .btn {
            margin: 0 auto;
        }

    .cards {
        display: flex;
        justify-content: space-between;
    }

    .cards-item {
        width: 277px;
        box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
        border-radius: 15px;
        transition: all 0.5s ease;
    }

        .cards-item:hover {
            box-shadow: 0px 10px 20px rgba(32, 40, 69, 0.24);
        }

        .cards-item img {
            display: block;
            border-radius: 15px 15px 0 0
        }

    .cards-content {
        padding: 23px 23px 40px 34px
    }

    .cards-text {
        font-size: 14px;
        color: #273456;
        margin: 4px 0 17px
    }




    .about-content {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

        .about-content img {
            display: block;
            border-radius: 0px 20px 20px 20px;
        }

    .about-text {
        width: 572px;
    }

        .about-text h3 {
            margin-bottom: 21px;
        }

        .about-text p {
            line-height: 1.5em;
            margin-bottom: 25px;
        }

            .about-text p:last-child {
                margin-bottom: 0px;
            }

    .form {
        box-shadow: 0px 17px 50px rgba(32, 40, 69, 0.14);
        border-radius: 20px;
        width: 601px;
        text-align: center;
        padding: 58px 64px 97px;
        margin: 0 auto
    }

        .form h3 {
            width: 367px;
            margin: 0 auto 37px;
        }

        .form input {
            border: 1px solid rgba(39, 52, 86, 0.26);
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 16px;
            font-family: 'PT Sans', sans-serif;
            display: block;
            width: 100%;
            padding: 19px 26px;
            margin-bottom: 15px;
        }

        .form .btn {
            width: 100%;
            padding: 21px 0;
            transition: all 0.5s ease;
        }


    .footer-text {
        font-size: 15px;
        color: rgba(41, 56, 111, 0.66);
        text-align: center;
        margin: 122px 0 112px
    }


    .product-card {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
        transition: all .3s;
        margin-bottom: 64px;
        margin-left: 64px;
        border-radius: 30px;
    }

        .product-card:hover {
            box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
        }

    .product-thumb a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .product-thumb img {
        width: 200px;
        height: 300px;
    }

    .product-details {
        padding: 20px;
    }

        .product-details h4 a {
            font-weight: 500;
            display: block;
            text-decoration: none;
        }

        .product-details p {
            font-size: 15px;
            margin-bottom: 20px;
            color: #999;
            height: 45px;
            overflow: hidden;
        }

    .product-bottom-details {
        overflow: hidden;
        border-top: 1px solid #eee;
        padding-top: 20px;
    }

    .product-price {
        font-size: 18px;
        color: #ee6e73;
        font-weight: 600;
    }

        .product-price small {
            color: #ccc;
            font-weight: 400;
            text-decoration: line-through;
            margin-right: 5px;
        }

    .product-links a {
        font-size: 20px;
        margin-left: 10px;
    }

    .row {
        margin-left: 40px;
        margin-right: 120px;
    }

    .rating-mini {
        display: inline-block;
        font-size: 0;
    }

        .rating-mini span {
            padding: 0;
            font-size: 20px;
            line-height: 1;
            color: lightgrey;
        }

        .rating-mini > span:before {
            content: '★';
        }

        .rating-mini > span.active {
            color: gold;
        }

    .page {
        text-align: center;
        text-decoration: none;
        margin-top: -50px;
    }

        .page h1 {
            font-size: 20px;
            letter-spacing: 0.055em;
        }
</style>
{% endblock %}